<%# for i in 0..(@titles.to_a.count-1) %>
<% for i in 0..(@randContainer.count-1) %>
	<span style="font-size: 120%"><%= link_to @titleContainer[i].text, @commentLinkContainer[i] %></span> 
	<br>
	
	<span style="font-size: 80%"><%= link_to @commentContainer[i].text, @commentLinkContainer[i] %></span>
	<br>
	
<% end  %>	