<div class="stumBorder">
	<div id="score" class="stumHeader">
		<%= render 'score' %>
	</div>
</div>

<div class="bodyPlacement">	
	<div id="comments">
		<%= render 'comments' %>
	</div>

	<%= link_to "Get More Comments", root_path, class: "btn btn-primary", id: "commentButton", remote: true %>
</div>
<!-- <div style="position:fixed; bottom:30%; right:21.5%;">
	<%= link_to "Get More Comments", root_path, class: "btn btn-primary" %>
</div> -->