<div class="stumBorder">
	<div class="stumHeader">
		<h3><span class="stumweb">Stumweb</span>: <span class="clicks"><%= number_with_delimiter(@clicks.score) %> comments discovered</span></h3>
	</div>
</div>

<div class="bodyPlacement">	

<% if @site >= 31 %>
	<%= render 'reddit' %>
<% else %>
	<%= render 'imgur' %>
<% end %>

<%= link_to "Get More Comments", root_path, class: "btn btn-primary" %>
</div>