<div class="stumBorder">
	<div class="stumHeader">
		<h3><span class="stumweb">Stumweb</span>: <span class="clicks"><%= number_with_delimiter(@clicks.score) %> comments discovered</span></h3>
	</div>
</div>

<%= @subRand %>

<br>
<br>
<%= @reddit %>
<br>
<br>
<%= link_to "Get More Comments", root_path, class: "btn btn-primary" %>
</div>