<div class="bodyPlacementMobile">	

<% if @site >= 31 %>
	<%= render 'redditMobile' %>
<% else %>
	<%= render 'imgurMobile' %>
<% end %>

<%= link_to "Get More Comments", root_path, class: "btn btn-primary" %>
</div>

