<div class="stumBorder">
	<div class="stumHeader">
		<h3><span class="stumweb">Stumweb</span>: <span class="clicks"><%= number_with_delimiter(@clicks.score) %> comments discovered</span></h3>
	</div>
</div>

<div class="bodyPlacement">	

	<%= @HNparent %>
	<br>
	<br>
	<%= @url %>

<%= link_to "Get Another Comment", root_path, class: "btn btn-primary" %>
</div>