a {
	font-size: 125%;
	color: blue;
}

.redditAuthor {
	/*font-family: georgia;*/
}

.redditBody {
	font-size: 120%;
	color: black;
}

.redditBodyMobile {
	font-size: 115%;
	color: black;
}

.georgia {
	/*font-family: georgia;*/
}

.eighty {
	font-size: 80%;
}

.ninety {
	font-size: 90%;
}

.oneten {
	font-size: 110%;
}
.onetwenty {
	font-size: 120%;
}

.siteNameReddit {
	color: darkred;
}

.siteNameImgur {
	color: darkslategray;
}

body {
    background: silver;
}

body.bodyMobile {
	background: lavenderblush;
}

.containerMobile {
  padding-right: 25px;
  padding-left: 25px;
}

.bottomBackground {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 24%;
    padding-top: 115px;
    padding-bottom: 40px;
	background-image: linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(22,47,92)),
		color-stop(0.75, rgb(49,74,122)),
		color-stop(1, rgb(57,107,209))
	);
	/*background-image: linear-gradient(bottom, rgb(23,28,128) 38%, rgb(41,47,176) 69%, rgb(94,103,219) 95%);
	background-image: -o-linear-gradient(bottom, rgb(23,28,128) 38%, rgb(41,47,176) 69%, rgb(94,103,219) 95%);
	background-image: -moz-linear-gradient(bottom, rgb(23,28,128) 38%, rgb(41,47,176) 69%, rgb(94,103,219) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(23,28,128) 38%, rgb(41,47,176) 69%, rgb(94,103,219) 95%);
	background-image: -ms-linear-gradient(bottom, rgb(23,28,128) 38%, rgb(41,47,176) 69%, rgb(94,103,219) 95%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.38, rgb(23,28,128)),
		color-stop(0.69, rgb(41,47,176)),
		color-stop(0.95, rgb(94,103,219))
	);*/
}

.bottomBackgroundMobile {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 21.5%;
    padding-top: 60px;
    padding-bottom: 40px;
	background-image: linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,47,92) 30%, rgb(49,74,122) 75%, rgb(57,107,209) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(22,47,92)),
		color-stop(0.75, rgb(49,74,122)),
		color-stop(1, rgb(57,107,209))
	);
}

.bodyPlacement {
	margin-right: 21.5%;
	margin-left: 21.5%;
	padding-top: 40px;
	padding-bottom: 80px;
}

.bodyPlacementMobile {
	margin-left: 5%;
	margin-right: 3%;
	padding-top: 40px;
	padding-bottom: 70px;
}

.bodyWrapper {
	background: lavenderblush;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.bodyWrapperMobile {
	background: lavenderblush;
	-webkit-border-radius: 9px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	margin-left: -10px;
	margin-right: -10px;
}

.stumBorder {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #d3d3d3;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(top, #f7f7f7, #e3e3e3);
    min-height: 25px;
    *zoom: 1;
    position: relative;
    margin: 17px 0;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	padding-bottom: 0px;
}

.stumBorderMobile {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #d3d3d3;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(top, #f7f7f7, #e3e3e3);
    min-height: 25px;
    *zoom: 1;
    position: relative;
    margin: 17px 0;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	padding-bottom: 0px;
}

.stumHeader {
	/*margin-left: 15.5%;*/
	margin-left: 21.5%;
}

.stumHeaderMobile {
	/*margin-left: 15.5%;*/
	margin-left: 0%;
}

.stumweb {
	font-size: 125%;
	font-family: Gill Sans / Gill Sans MT, sans-serif;
	font-weight: 600;
	background: -webkit-linear-gradient(#41A7FB, #1403AA);
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
}

.stumwebMobile {
	font-size: 125%;
	font-family: Gill Sans / Gill Sans MT, sans-serif;
	font-weight: 600;
	color: darkslateblue;
}

.titleMobile {
	font-size: 300%;
	margin-left: 80%;
}

.clicks {
	font-family: georgia;
}

.clicksMobile {
	font-family: georgia;
	font-size: 325%;
	margin-left: 60%;
	white-space: pre;
}

.mobileText {
	font-size: 250%;
}

.mobileWrap {
}

.desktopFont {
	font-size: 300%;
	font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.mobileFont {
	font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.buttonMobile {
	margin-left: 50%;
}

.headerMobile {
	margin-top: -60px;
}

.headerColorMobile {
	color: white;
}

.header1 {
	margin-top: -7%;
	margin-left: 38%;
	padding-bottom: 15px;
}
.header1Mobile {
	margin-left: 24.5%;
	padding-bottom: 5px;
}

.header2 {
	margin-left: 36%;
}

.header2Mobile {
	margin-left: 14.5%;
}

.desktopScore {
	font-size: 120%;
	padding-bottom: 5px;
}

.floatLeft {
	float: left;
}

.shareLeft {
	margin-left: 10px;
}

.shareLeft2 {
	margin-left: 5px;
}

.shareLeft3 {
	margin-left: 1px;
}

.shareLeftFB {
	margin-left: 50px;
}

.shareIcon {
	margin-top: -8px;
}

.shareText {
	font-size: 90%;
	margin-left: 3px;
}

.email {
	margin-top: -10px;
}

.homeButtons li {
	list-style-type: none;
	float: left;
}

.moveLeft {
	margin-left: -42px;
}